
app/.gcloudignore
app/__pycache__/
app/databases/gabbydb.sqlite
front-end/.calva/output-window/output.calva-repl
/.clj-kondo/
/.lsp/
/front-end/resources/public/cljs-runtime/
/app/venv/

# Local Netlify folder
.netlify
