/resources/compiled/cljs-runtime
/dist
/out/
/resources/public/js/
/resources/public/js/compiled
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo cache
/.clj-kondo/.cache
.DS_Store
.lsp/.cache/db.transit.json

# Local Netlify folder
.netlify
/front-end/.calva/
